<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="vh-100 d-flex justify-content-center align-items-center">
            <form class="shadow-lg p-3 col-12 col-lg-6 col-md-6 col-sm-6" action="/registerUser" method="POST">
                <h3 class="text-center mb-3 mt-3">Registracija na sustav</h3>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Ime" autocomplete="off" required>
                    <label for="firstName">Ime</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Prezime" autocomplete="off" required>
                    <label for="lastName">Prezime</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" autocomplete="off" required>
                    <label for="email">Email adresa</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Lozinka" required>
                    <label for="password">Lozinka</label>
                </div>
               
                <button class="btn btn-primary w-100 mt-3 mb-3">Registracija</button>
                <a href="/login" class="text-center d-block">Već imate račun? Prijavite se</a>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="text-center mt-3 alert alert-{{ messages[0][0] }}">
                    {{ messages[0][1] }}
                </div>
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>
